{% extends "base.html" %}
{% block title %}
    Сброс пароля прошёл успешно
{% endblock title %}
{% block content %}
    <div class="container py-4 mt-4">
        <div class="card w-100">
            <h2 class="text-start">Восстановление пароля завершено.</h2>
            <p>
                Ваш пароль был сохранен. Используйте его для входа
            </p>
            <div class="justify-content-start">
                <a class="btn btn-outline-dark"
                   href="{% url 'users:login' %}">
                    Войти
                </a>
            </div>
        </div>
    </div>
{% endblock content %}