{% extends 'base.html' %}
{% block title %}
    Регистрация
{% endblock title %}

{% block content %}
    <div class="container d-flex mt-5 justify-content-center">
    <div class="card">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">
                {{ field.label }}
                </label>
                <p>
                {{ field }}
                </p>
            {% endfor %}
            <button type="submit" class="btn btn-outline-dark"
                    style="border-radius: 10px;">
                Зарегистрироваться
            </button>
        </form>
    </div>
    </div>
{% endblock content %}