{% extends 'base.html' %}

{% block title %}
    Новая транзакция
{% endblock title %}

{% block content %}
    {% comment %}
    <div class="form-control">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-dark"
                    style="border-radius: 10px;">
                Перевести деньги
            </button>
        </form>
    </div>
    {% endcomment %}
    <div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <table style="display: none">
            {{ view.formset.empty_form }}
        </table>

        <table>
            {{ view.formset }}
        </table>

        <span id="add-form" class="button">Add form</span>

        <input type="submit" />
    </form>
</div>
{% endblock content %}