{% extends 'base.html' %}

{% block title %}
    Список транзакций
{% endblock title %}

{% block content %}
    <div class="container justify-content-start mt-4">
        <div class="card w-100">
            <span class="text-center">Транзакции</span>
            <div class="row">
                <div class="col">
                    <div class="container text-start">
                        <div class="btn-group" role="group"
                             aria-label="Basic example">
                            {% for wallet in wallets %}
                                <a class="btn btn-sm btn-outline-secondary {% if sort_by == wallet.name %} active {% endif %}"
                                   href="{% url 'transactions:transaction_history_sorted' wallet.name %}">{{ wallet.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="container text-end">
                        <div class="btn-group" role="group"
                             aria-label="Basic example">
                            <a class="btn btn-sm btn-secondary {% if order_by == '-date_provided' %} active {% endif %}"
                               href="{% url 'transactions:transaction_history_ordered' '-date_provided' %}">Дата
                                &darr;</a>
                            <a class="btn btn-sm btn-secondary {% if order_by == 'date_provided' %} active {% endif %}"
                               href="{% url 'transactions:transaction_history_ordered' 'date_provided' %}">Дата
                                &uarr;</a>
                            <a class="btn btn-sm btn-secondary {% if order_by == '-amount_money' %} active {% endif %}"
                               href="{% url 'transactions:transaction_history_ordered' '-amount_money' %}">Сумма
                                &darr;</a>
                            <a class="btn btn-sm btn-secondary {% if order_by == 'amount_money' %} active {% endif %}"
                               href="{% url 'transactions:transaction_history_ordered' 'amount_money' %}">Сумма
                                &uarr;</a>
                        </div>
                    </div>
                </div>
            </div>
            {% for transaction in object_list %}
                <div class="beautiful-div mt-4"
                        {% if transaction.recipient.id == user.id %}
                     style="background-color: lawngreen; opacity: .9" {% endif %}>
                    <a class="btn"
                       href="{% url 'transactions:transaction_detail' transaction.id %}">
                        <p class="text-start">Дата
                            проведения: {{ transaction.date_provided }}</p>
                        {% if transaction.recipient.id == user.id %}
                            <p class="text-start">
                                От кого: {{ transaction.sender.get_full_name }}</p>
                        {% else %}
                            <p class="text-start">
                                Кому: {{ transaction.recipient.get_full_name }}</p>
                        {% endif %}
                        <p class="text-start">
                            Сумма: {{ transaction.amount_money }} у.е</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
